<div class="page-header row">
  <div class="span12">
    <h3>Congrats! You've just activated your account. Please fill up your profile data to proceed</h3>
  </div>
</div>
<div class="row">
  <div class="span12">
    {{#form form class="form-horizontal"}}
    <fieldset>
      <div class="control-group">
        {{{labelFor "first_name" "First name:" }}}
        <div class="controls">
          {{{textField "first_name" "Type youre first name here" }}}
        </div>
      </div>
    <fieldset>
      <div class="control-group">
        {{{labelFor "last_name" "Last name:" }}}
        <div class="controls">
          {{{textField "last_name" "Type youre last name here" }}}
        </div>
      </div>
      <div class="control-group">
        {{{labelFor "phone" "Your phone:" }}}
        <div class="controls">
          {{{textField "phone" "Provide your contact phone" }}}
        </div>
      </div>
      <div class="control-group">
        {{{labelFor "password" "New password:" }}}
        <div class="controls">
          {{{passwordField "password" "Select the password for signing in" }}}
        </div>
      </div>
      <div class="control-group">
        {{{labelFor "password_confirm" "Password confirm:" }}}
        <div class="controls">
          {{{passwordField "password_confirm" "Confirm your password" }}}
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Proceed</button>
      </div>
    </fieldset>
    {{/form}}
  </div>
</div>
